// COLORS
$color-primary: #bbdbf0;
$color-primary-dark: #0fcce6b3;
$color-primary-light: #d7e5ecb3;

$color-secondary-light: rgb(240, 245, 234);
$color-secondary-dark: rgba(108, 175, 147, 0.726);

$color-tertiary-light: rgb(173, 223, 115);
$color-tertiary-dark: rgb(173, 223, 115);

$color-grey-light-1: #f7f7f7cb;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
// GRID VARIABLES
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;